<!DOCTYPE html>
<html
lang="ko"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/layout}">
<!-- IDE에서 thymeleaf 문법에 오류표시 안하도록 설정 -->
<head>
	<title>글 상세 페이지</title>
	<link rel="stylesheet" href="/css/post/postDetailPage.css" />
</head>

<body>
<th:block layout:fragment="content">
		<article>
			<div class="container mainDiv">
					<span style="position: absolute; right: 5.5%;">
						<span th:text="|작성자 : ${postDetail.mbrNickName}  │  |"></span>
						<span th:text="${#temporals.format(postDetail.postDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
						
						<!-- 본인 일때 수정, 삭제 가능 -->
						<span th:if="${session.getMbrIdx} == ${postDetail.mbrIdx}" >
						<span th:text="${session.getMbrIdx}"></span>
						<span th:text="${postDetail.mbrIdx}"></span>
							<a th:href="@{/postEditPage(postNumber=${postDetail.postNumber}) }" id="postEditPage" role="button" class="btn btn-success">수정</a>
							<a th:href="@{/postDel(postNumber=${postDetail.postNumber}) }" id="postDel" class="btn btn-danger" role="button" onclick="return confirm('정말 삭제 하시겠습니까?');">삭제</a>
						</span>
<!-- 						뒤로가기 후 새로고침 (조회수가 늘어나는지 바로 확인하기 위해) -->
						<a class="btn btn-success" href="javascript:window.location.href = document.referrer;">목록</a>
					</span>
					
					<br/>
				<div class="titleDiv">
					<span th:text="${postDetail.postTitle}" id="postTitle"></span>

					
				</div>

				<hr/>
				
				
<!-- 				<div class="attachDiv"> -->
<!-- 					<h5>첨부파일</h5> -->
					
<!-- 					<hr/> -->
<!-- 				</div> -->
				<div class="contentDiv">
					<span th:text="${postDetail.postContent}" id="postContent"></span>
					<br/><br/><br/><br/>
				</div>
				<hr/>
				
				<span>댓글</span>
				<span>│</span>
				<span th:text="|글 조회 수 : ${postDetail.postReadCount}|"></span>
				<span>│</span>
				<span>글 번호 : </span>
				<span th:text="${postDetail.postNumber}" id="postNumber" class="postNumber"></span>
				<div class="input-group replyDiv" >
				
    				<textarea class="form-control" id="replyTextArea" rows="3"></textarea>
    				
                   	<input type="button" id="replyRegister" class="btn btn-success replyRegister" value="등록"/>

  				</div>
  				
  				<br/>
  				<div class="">
  					<span>댓글</span>
  					<hr/>
  					
					<!-- 반복 문 실행 될 div -->
  					<div class="replyList">

  					</div>
  				</div>
  				
			</div> <!-- mainDiv END -->
 
		</article>
	</th:block>
	
<!--  개별 JS 넣는 곳 -->
<th:block layout:fragment="js">
	<script src="/js/post/postDetailPage.js"></script>
</th:block>	
	
</body>
</html>