<!DOCTYPE html>
<html
lang="ko"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/layout}">
<!-- IDE에서 thymeleaf 문법에 오류표시 안하도록 설정 -->

<head>
	<title>글 목록</title>
	<link th:href="@{/css/post/postListPage.css}" rel="stylesheet">
</head>
<body>
<th:block layout:fragment="content">
	<div >
			<!-- 테이블 -->
			<table class="table table-hover table-borderless postListTable">
				<thead class="table-primary ">
					<tr>
						<th>글 번호</th>
						<th>제목</th>
						<th>작성자(닉네임)</th>
						<th>일시</th>
						<th>조회수</th>
					</tr>
				</thead>

				<tbody>
					<tr th:onClick="| location.href='/postDetailPage/' + ${postList.postNumber} | "  th:each="postList : ${postList}" style="cursor: pointer;">
						<td th:text="${postList.postNumber}"></td>
						<td th:text="${postList.postTitle}"></td>
						<td th:text="${postList.mbrNickName}"></td>
						<td th:text="${postList.postDate}"></td>
						<td th:Text="${postList.postReadCount}"></td>
					</tr>
				</tbody>
			</table>
			<!-- 테이블 -->
			
		<p class="writeBtn">
			<a href="/postRegisterPage" class="btn btn-primary">글 쓰기</a>
		</p>
	
	</div>
</th:block> <!-- thymeleaf block  -->

<!--  개별 JS 넣는 곳 -->
<th:block layout:fragment="js">
	<script src="/js/post/postListPage.js"></script>
</th:block>
</body>
</html>