<!DOCTYPE html>
<html
lang="ko"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/layout}">
<!-- IDE에서 thymeleaf 문법에 오류표시 안하도록 설정 -->

<head>
	<title>글 목록</title>
	<link th:href="@{/css/post/postListPage.css}" rel="stylesheet">
</head>
<body>
<th:block layout:fragment="content">
	<div >
			<!-- 테이블 -->
			<table class="table table-hover table-borderless postListTable">
				<thead class="table-primary ">
					<tr>
						<th>글 번호</th>
						<th>제목</th>
						<th>작성자(닉네임)</th>
						<th>일시</th>
						<th>조회수</th>
					</tr>
				</thead>

				<tbody>
					<tr th:onClick="| location.href='/postDetailPage/' + ${postList.postNumber} | "  th:each="postList : ${postList}" style="cursor: pointer;">
						<td th:text="${postList.postNumber}"></td>
						<td th:text="${postList.postTitle}"></td>
						<td th:text="${postList.mbrNickName}"></td>
						<td th:text="${postList.postDate}"></td>
						<td th:Text="${postList.postReadCount}"></td>
					</tr>
				</tbody>
			</table>
			<!-- 테이블 -->
			
		<p class="writeBtn">
			<a href="/postRegisterPage" class="btn btn-success">
				<!-- 연필 모양 아이콘 -->
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
  					<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
				</svg>
			
			새 글 쓰기
			</a>
		</p>
	
	</div>
</th:block> <!-- thymeleaf block  -->

<!--  개별 JS 넣는 곳 -->
<th:block layout:fragment="js">
	<script src="/js/post/postListPage.js"></script>
</th:block>
</body>
</html>