<!DOCTYPE html>
<html
lang="ko"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.w3.org/1999/xhtml"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- IDE에서 thymeleaf 문법에 오류표시 안하도록 설정 -->
<head>
<meta charset="UTF-8">
<title>Insert title here test</title>

<link th:href="@{/css/fragments/header.css}" rel="stylesheet">
</head>
<body>
<th:block th:fragment = "header">
	<nav th:onClick="| location.href='/' | ">
		<h1>header입니다. 클릭시 홈 화면으로</h1>
		<a sec:authorize="isAnonymous()" th:href="@{/logInPage}" class="">로그인</a>
		<a sec:authorize="isAuthenticated()" th:href="@{/securityLogOut}">로그아웃</a><!-- 인증된 사용자일 경우, 로그아웃 버튼을 노출줍니다.  --> 
		<a href="/signUpPage"class="">회원가입</a>
		<span sec:authentication="name"></span>님 <!-- username [mbr_id] 값을 가져옵니다 -->
	</nav>
	<hr/>
</th:block>	

</body>
</html>