<!DOCTYPE html>
<html
lang="ko"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.w3.org/1999/xhtml"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- IDE에서 thymeleaf 문법에 오류표시 안하도록 설정 -->
<head>
<meta charset="UTF-8">
<title>Insert title here test</title>

<link th:href="@{/css/fragments/header.css}" rel="stylesheet">
</head>
<body>
<th:block th:fragment = "header">
	<nav th:onClick="| location.href='/' | ">
		<h1>header입니다. 클릭시 홈 화면으로</h1>
		<!-- 로그인 하지 않았을 때 "로그인, 회원가입" 을 보여준다 -->
		<a sec:authorize="isAnonymous()" th:href="@{/loginPage}" class="">로그인</a>
		
		<!-- 로그인 했을 때  "로그아웃"만 보여준다-->
		<a sec:authorize="isAuthenticated()" th:href="@{/securityLogOut}">로그아웃</a><!-- 인증된 사용자일 경우, 로그아웃 버튼을 노출줍니다.  --> 
		
		<!-- 로그인 하지 않았을 때 "로그인, 회원가입" 을 보여준다 -->
		<a sec:authorize="isAnonymous()" href="/signUpPage"class="">회원가입</a>
		
		<!-- 로그인 했을 때 해당 아이디와 닉네임 표시 -->
		<span sec:authorize="isAuthenticated()" sec:authentication="name"></span>
		<span sec:authorize="isAuthenticated()" th:text=" '('+${session.getMbrNickName} + ')' + '님' "></span> <!-- springSecurity 로그인 으로 sec태그를 이용, [mbrEmail] 값을 가져옵니다 -->
	</nav>
	<hr/>
</th:block>	

</body>
</html>