<!DOCTYPE html>
<html
lang="ko"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.w3.org/1999/xhtml"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- IDE에서 thymeleaf 문법에 오류표시 안하도록 설정 -->
<head>
<meta charset="UTF-8">
<title>Insert title here test</title>

<link th:href="@{/css/fragments/header.css}" rel="stylesheet">
</head>
<body>
<th:block th:fragment = "header">
<!-- nav 시작 -->
<nav th:onClick="| location.href='/' | " class="navbar navbar-expand-sm navbar-dark bg-primary headerBar"> <!-- navbar-dark bg-dark -->

	<div class="collapse navbar-collapse" >
		<!-- 홈으로 가기 -->
		<a href="/" class="nav-link home">BOARD</a>
		
		<ul class="navbar-nav ml-auto">
			<!-- 로그인 하지 않았을 때 "로그인, 회원가입" 을 보여준다 -->
			<li sec:authorize="isAnonymous()" class="nav-item">
				<a th:href="@{/loginPage}" class="nav-link login">로그인</a>
			</li>
			
			<!-- 로그인 하지 않았을 때 "로그인, 회원가입" 을 보여준다 -->
			<li sec:authorize="isAnonymous()" class="nav-item">
				<a href="/signUpPage" class="nav-link login">회원가입</a>
			</li>
			
			<!-- 로그아웃 (세션 있을 때)-->
			<li sec:authorize="isAuthenticated()" class="nav-item">
				<!-- 로그인 했을 때 해당 아이디와 닉네임 표시 -->
				<span id="mbrEmail" sec:authorize="isAuthenticated()" sec:authentication="name" class="nav-item mbrEmail">
				</span>
				<span id="mbrNickName" sec:authorize="isAuthenticated()" th:text=" '('+${session.getMbrNickName} + ')' + '님' " class="nav-item mbrEmail">
				</span> <!-- springSecurity 로그인 으로 sec태그를 이용, [mbrEmail] 값을 가져옵니다 -->
				<!-- 댓글 작성 시 session에서 가져온 mbrIdx 사용  -->
				<span th:text="${session.getMbrIdx}" style="display:none;" id="mbrIdx"></span>
				
				<!-- 로그인 했을 때  "로그아웃"만 보여준다-->
				<a th:href="@{/securityLogOut}" class="nav-link LogOut">로그아웃
				</a><!-- 인증된 사용자일 경우, 로그아웃 버튼을 노출줍니다.  --> 
			</li>
			
		</ul>
	</div>
</nav>
<!-- nav 끝 -->
</th:block>	

</body>
</html>