<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.jongeon.mybatisboard.mapper.PostMapper">
 
 	<!-- 글 목록 (댓글 개수 포함)-->
    <select id="postList" resultType="com.jongeon.mybatisboard.domain.PostVO">
    	<![CDATA[
        	select p.*, m.mbrNickName, count(r.replyNumber) as replyCount
        	from MEMBER_TB m, POST_TB p
        	left outer join REPLY_TB r on p.postNumber = r.postNumber
        	where m.mbrIdx = p.mbrIdx
        	GROUP by p.postNumber
        	order by postNumber desc
        	LIMIT #{startList}, #{listSize};
        ]]>
	</select>        
 	
 	<!-- 글 상세, 글 수정 페이지 -->
 	<select id="postDetail" resultType="com.jongeon.mybatisboard.domain.PostVO">
 		<![CDATA[
        	select p.*, m.mbrNickName, m.mbrEmail
        	from POST_TB p, MEMBER_TB m
        	where p.mbrIdx = m.mbrIdx
        	and postNumber = #{postNumber}
        ]]>
 	</select>
 	
 	<!-- 글 작성 -->
 	<insert id="postRegister" parameterType="com.jongeon.mybatisboard.domain.PostVO">
	insert into POST_TB (mbrIdx, postTitle, postContent) values
	( #{mbrIdx}, #{postTitle}, #{postContent} )
	</insert>
	
	<!-- 제일 최신 글의 postNumber를 가져온다-->
	<select id="findPostNumber" resultType="com.jongeon.mybatisboard.domain.PostVO">
 		<![CDATA[
        	select postNumber
			from POST_TB
			order by postNumber DESC limit 1
        ]]>
 	</select>
	
	<!-- 글 삭제 -->
	<delete id="postDel"  parameterType="com.jongeon.mybatisboard.domain.PostVO">
		delete
		from POST_TB
		where postNumber = #{postNumber}
	</delete>
	
	<!-- 글 수정 -->
	<update id="postEdit" parameterType="com.jongeon.mybatisboard.domain.PostVO">
		update POST_TB
		set postTitle = #{postTitle},
		postContent = #{postContent}
		where postNumber = #{postNumber}
	</update>
	
	<!-- 조회수 증가-->
	<update id="updateReadCnt" parameterType="com.jongeon.mybatisboard.domain.PostVO">
		update POST_TB
		set postReadCount = postReadCount + 1
		where postNumber = #{postNumber}
	</update>
	
	<!-- 페이징 처리를 위한 sql문▼▼▼▼▼▼▼▼ -->
	
	<!-- 전체 글 갯수를 얻어오는 sql문 -->
	<select id="postListCnt" resultType="int">
		<![CDATA[
			SELECT
			count(*) as postListCnt
			FROM POST_TB
		]]>
	</select>
	<!-- 페이징 처리를 위한 sql문▲▲▲▲▲▲▲▲ -->
	
	
	
</mapper>