<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.jongeon.mybatisboard.mapper.PostMapper">
 
    <select id="postList" resultType="com.jongeon.mybatisboard.domain.PostVO">
    	<![CDATA[
        	select p.*, m.mbrNickName
        	from POST_TB p, MEMBER_TB m
        	where p.mbrIdx = m.mbrIdx
        ]]>
	</select>        
 
 	<select id="postDetail" resultType="com.jongeon.mybatisboard.domain.PostVO">
 		<![CDATA[
        	select p.*, m.mbrNickName
        	from POST_TB p, MEMBER_TB m
        	where p.mbrIdx = m.mbrIdx
        	and postNumber = #{postNumber}
        ]]>
 	</select>
</mapper>