<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.jongeon.mybatisboard.mapper.PostMapper">
 
 	<!-- 글 목록 -->
    <select id="postList" resultType="com.jongeon.mybatisboard.domain.PostVO">
    	<![CDATA[
        	select p.*, m.mbrNickName
        	from POST_TB p, MEMBER_TB m
        	where p.mbrIdx = m.mbrIdx
        ]]>
	</select>        
 	
 	<!-- 글 상세 -->
 	<select id="postDetail" resultType="com.jongeon.mybatisboard.domain.PostVO">
 		<![CDATA[
        	select p.*, m.mbrNickName
        	from POST_TB p, MEMBER_TB m
        	where p.mbrIdx = m.mbrIdx
        	and postNumber = #{postNumber}
        ]]>
 	</select>
 	
 	<!-- 글 작성 -->
 	<insert id="postRegister" parameterType="com.jongeon.mybatisboard.domain.PostVO">
	insert into POST_TB (mbrIdx, postTitle, postContent) values
	( #{mbrIdx}, #{postTitle}, #{postContent} )
	</insert>
	
</mapper>