<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.jongeon.mybatisboard.mapper.SignUpMapper">
 
<insert id="signUp" parameterType="com.jongeon.mybatisboard.domain.MemberVO">
	insert into MEMBER_TB (mbrEmail, mbrNickName, mbrPassword, mbrRole) values
	( #{mbrEmail}, #{mbrNickName}, #{mbrPassword}, #{mbrRole} )
</insert>
 
</mapper>