<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.jongeon.mybatisboard.mapper.SignUpMapper">
 
 	<!-- 회원가입 -->
	<insert id="signUp" parameterType="com.jongeon.mybatisboard.domain.MemberVO">
		insert into MEMBER_TB (mbrEmail, mbrNickName, mbrPassword, mbrRole) values
		( #{mbrEmail}, #{mbrNickName}, #{mbrPassword}, #{mbrRole} )
	</insert>
 
	<!-- mbrEmail 중복체크 -->
	<select id="mbrEmailCheck" resultType="Long">
    	<![CDATA[
        	select count(*)
        	from MEMBER_TB
        	where mbrEmail = #{mbrEmail}
        ]]>
	</select>
	
	<!-- mbrEmail 중복체크 -->
	<select id="mbrNickNameCheck" resultType="Long">
    	<![CDATA[
        	select count(*)
        	from MEMBER_TB
        	where mbrNickName = #{mbrNickName}
        ]]>
	</select>
	
	        
</mapper>