<!DOCTYPE html>
<html
lang="ko"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/layout}">
<!-- IDE에서 thymeleaf 문법에 오류표시 안하도록 설정 -->
<head>
	<title>회원가입 화면</title>
	<link href="/css/signUp/signUpPage.css" rel="stylesheet">
	
</head>

<body>
<th:block layout:fragment="content">
	<div class="card align-middle text-center cardDiv">
		
		<div class="card-title cardTitleDiv">
			<h2 class="card-title text-center cardTitleH2">회원가입</h2>
		</div>
		<div class="card-body">
			<form class="form-signin" method="POST" action="/signUp" >
<!-- 				<h5 class="form-signin-heading">회원가입 정보를 입력하세요</h5> -->
				<div class="alert alert-success" id="id-success">사용가능한 아이디 입니다.</div>
				<div class="alert alert-danger" id="id-danger">이미 사용중인 아이디 입니다.</div>
				<div class="alert alert-danger" id="id-write">아이디를 입력해주세요.</div>
				<input type="text" id="mbrEmail" name="mbrEmail" class="form-control" placeholder="이메일(아이디)"
				maxlength="15" required autofocus/>

<!-- 				<div align="left"> -->
<!-- 					<input type="button" id="idCheck" name="idCheck" class="btn btn-dark" value="중복확인"/> -->
<!-- 				</div> -->
				<br/>
				
				<input type="password" name="mbrPassword" id="mbrPassword_01" maxlength="15" class="form-control password" placeholder="비밀번호(최대 15자)" required/>
				<br/>
				
				<input type="password" id="mbrPassword_02" maxlength="15" class="form-control password" placeholder="비밀번호 확인" required/>
				<div class="alert alert-success" id="pw-success">비밀번호가 일치합니다.</div>
				<div class="alert alert-danger" id="pw-danger">비밀번호가 일치하지 않습니다.</div>
				<br/>

				<input type="text" id="mbrNickName" name="mbrNickName" class="form-control" maxlength="10" placeholder="닉네임" required/>
				<br/>
				
<!-- 				<input type="text" id="tel_no" name="tel_no" class="form-control" maxlength="11" placeholder="01022227777" required/> -->
				<br/>
				
				<button id="signUpBtn" class="btn btn-dark" type="submit" disabled="disabled" >완료</button>
				
<!-- 				<button id="signUpBtn" class="btn btn-dark" type="submit" disabled="disabled">완료</button> -->
				<a href="/signUpPage" id="cancelBtn" class="btn btn-dark" >다시 입력하기</a>
			</form>

		</div>
	</div>
	
</th:block>


<!--  개별 JS 넣는 곳 -->
<th:block layout:fragment="js">
	<script src="js/signUp/signUpPage.js"></script>
</th:block>
</body>

</html>