@charset "UTF-8";
.mbrEmail{
	font-size:1em;
/* 	color:yellow; */
	color:white;
}

.LogOut{
	font-size:1.5em;
	display: inline;
}

.login{
	font-size:1.5em;
	display: inline;
}

.home{
/* 	color:yellow; */
	color:white;
	font-size: 2.0em;
	display: inline;
}

/* .headerBar{ */
/* } */